<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="sitecore"
             type="Efocus.Sitecore.ConditionalConfig.ConfigReader, Efocus.Sitecore.ConditionalConfig"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </configSections>
  <connectionStrings xdt:Transform="RemoveAttributes" />
  <system.webServer>
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders xdt:Transform="InsertIfMissing">
        <clear xdt:Transform="InsertIfMissing" />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    <httpErrors xdt:Transform="InsertIfMissing" existingResponse="PassThrough" />
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="true" />
    <httpRuntime maxRequestLength="512000" executionTimeout="3600" enableKernelOutputCache="false" relaxedUrlToFileSystemMapping="true" requestValidationMode="2.0" xdt:Transform="SetAttributes" />
    <authentication>
      <forms name=".ASPXAUTH" cookieless="UseCookies" path="/" slidingExpiration="false" timeout="99999999" xdt:Transform="SetAttributes" />
    </authentication>
    <httpRuntime maxRequestLength="512000" executionTimeout="600" enableKernelOutputCache="false" relaxedUrlToFileSystemMapping="true" />
  </system.web>
</configuration>