@using System
@model HandleErrorInfo
@{
    var isAdmin = false;
    try
    {
        isAdmin = Sitecore.Context.User != null && Sitecore.Context.User.IsAdministrator;
    }
    catch
    {
    }
    //Layout = "_SimpleLayout.cshtml";
}
<h2>
    We're sorry, an internal error occurred that prevents the request to complete.
</h2>
<p>
    Our supporting staff has been notified with this error and will address this issue
    shortly. We profusely apologize for the inconvenience and for any damage
    this may cause. You might want to try the same action at later time.
</p>
@if (isAdmin)
{
    <div class="cUnit" style="border: 1px red dashed;">
        <h2 style="color:red;">@Model.ControllerName.@Model.ActionName</h2>
            <h1 style="color:red;margin:0;">@Model.Exception.Message</h1>
            <p style="color:black;">
                @Html.Raw(Model.Exception.StackTrace.Replace(Environment.NewLine, "<br/>"))    
            </p>
    </div>
}
