<?xml version="1.0" encoding="utf-8"?>
<connectionStrings condition-machineName="DEVELOPMACHINE">
  <connectionString name="core" value="Data Source=.\sqlexpress;user instance=True;AttachDbFilename=|DataDirectory|\Sitecore.core.mdf;Integrated Security=True;" />
  <connectionString name="master" value="Data Source=.\sqlexpress;user instance=True;AttachDbFilename=|DataDirectory|\sitecore.master.mdf;Integrated Security=True;" />
  <connectionString name="web" value="Data Source=.\sqlexpress;user instance=True;AttachDbFilename=|DataDirectory|\sitecore.web.mdf;Integrated Security=True;" />
  <connectionString name="reporting" value="Data Source=.\sqlexpress;user instance=True;AttachDbFilename=|DataDirectory|\Sitecore.Analytics.mdf;Integrated Security=True;" />
  <connectionString name="analytics" value="mongodb://localhost/analytics" />
  <connectionString name="tracking.live" value="mongodb://localhost/tracking_live" />
  <connectionString name="tracking.history" value="mongodb://localhost/tracking_history" />
  <connectionString name="tracking.contact" value="mongodb://localhost/tracking_contact" />
</connectionStrings>