<?xml version="1.0" encoding="utf-8"?>
<connectionStrings condition-machineName="TESTMACHINENAME">
  <connectionString name="core" value="Integrated Security=SSPI;Data Source=DB1;Database=Sitecore.Core" />
  <connectionString name="master" value="Integrated Security=SSPI;Data Source=DB1;Database=Sitecore.Master" />
  <connectionString name="web" value="Integrated Security=SSPI;Data Source=DB1;Database=Sitecore.Web" />
  <connectionString name="reporting" value="Integrated Security=SSPI;Data Source=DB1;Database=Sitecore.Analytics" />
  <connectionString name="analytics" value="mongodb://MONGODB01/analytics" />
  <connectionString name="tracking.live" value="mongodb://MONGODB01/tracking_live" />
  <connectionString name="tracking.history" value="mongodb://MONGODB01/tracking_history" />
  <connectionString name="tracking.contact" value="mongodb://MONGODB01/tracking_contact" />
</connectionStrings>