<?xml version="1.0"?>
<excludes condition-machineName="YOUR_CONTENTDELIVERY_SERVERNAME">
  <exclude value="Sitecore.Analytics.Automation.TimeoutProcessing.config" />
  <exclude value="Sitecore.Analytics.Processing.Aggregation.Services.config" />
  <exclude value="Sitecore.Analytics.Processing.Services.config" />
  <exclude value="Sitecore.Analytics.Reporting.config" />
  <exclude value="Sitecore.Processing.config" />
  <exclude value="Sitecore.Marketing.Definitions.MarketingAssets.Repositories.Lucene.Index.Master.config" />
  <exclude value="Sitecore.Marketing.Client.config" />
  <exclude value="Sitecore.ContentSearch.Lucene.Index.Master.config" />
  <exclude value="Sitecore.PathAnalyzer.Client.config" />
  <exclude value="Sitecore.PathAnalyzer.config" />
  <exclude value="Sitecore.PathAnalyzer.Processing.config" />
  <exclude value="Sitecore.PathAnalyzer.RemoteClient.config" />
  <exclude value="Sitecore.PathAnalyzer.Services.config" />
  <exclude value="Sitecore.PathAnalyzer.Services.RemoteServer.config" />
  <exclude value="ExperienceAnalytics\Sitecore.ExperienceAnalytics.Aggregation.config" />
  <exclude value="ExperienceAnalytics\Sitecore.ExperienceAnalytics.Client.config" />
  <exclude value="ExperienceAnalytics\Sitecore.ExperienceAnalytics.Reduce.config" />
  <exclude value="ExperienceAnalytics\Sitecore.ExperienceAnalytics.StorageProviders.config" />
  <exclude value="ExperienceAnalytics\Sitecore.ExperienceAnalytics.WebAPI.config" />
  <exclude value="ExperienceProfile\Sitecore.ExperienceProfile.config" />
  <exclude value="ExperienceProfile\Sitecore.ExperienceProfile.Reporting.config"/>
  <exclude value="ExperienceProfile\Sitecore.ExperienceProfile.Client.config"/>
  <exclude value="ListManagement\Sitecore.ListManagement.Client.config"/>
  <exclude value="ListManagement\Sitecore.ListManagement.config"/>
  <exclude value="ListManagement\Sitecore.ListManagement.Lucene.Index.List.config"/>
  <exclude value="ListManagement\Sitecore.ListManagement.Lucene.IndexConfiguration.config"/>
  <exclude value="ListManagement\Sitecore.ListManagement.Services.config"/>
</excludes>