<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sc.variable name="otap-EnableDebug" value="false" />
    <sc.variable name="mediaFolder" value="/upload" />
    <sc.variable name="tempFolder" value="/temp" />
    <sc.variable name="otap-livemode-database" value="web"/>
    <sc.variable name="otap-codefirst" value="false"/>
    <sc.variable name="otap-enablecounters" value="false"/>
    
    <!--Hybris Settings-->
    <settings>
      <setting name="SomeSetting" value="true" />
    </settings>
  </sitecore>
</configuration>