<?xml version="1.0"?>
<mailSettings condition-machineName="DEVELOPMACHINE">
  <smtp deliveryMethod="specifiedPickupDirectory">
    <specifiedPickupDirectory pickupDirectoryLocation="..\Data\mail\" />
    <network
      host="localhost"
      port="25"
      defaultCredentials="true" />
  </smtp>
</mailSettings>
