<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" condition-machineName="DEVELOPMACHINE">
    <sitecore>
      <hooks>
        <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
          <patch:delete />
        </hook>
        <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
          <patch:delete />
        </hook>
      </hooks>
      <sites>
        <site name="modules_website" set:content="master" set:database="master" />
        <site name="website" set:content="master" set:database="master" />
      </sites>
      <search>
        <configuration>
          <indexes>
            <index>
              <locations>
                <web>
                  <patch:delete />
                </web>
              </locations>
            </index>
          </indexes>
        </configuration>
      </search>
      <contentSearch>
        <configuration>
          <indexes>
            <index id="sitecore_web_index">
              <patch:delete />
            </index>
            <index id="sitecore_marketing_asset_index_web">
              <patch:delete/>
            </index>
            <index id="sitecore_fxm_web_index">
              <patch:delete />
            </index>
            <index id="social_messages_web">
              <patch:delete/>
            </index>
            <index id="commerce_products_web_index">
              <patch:delete/>
            </index>
          </indexes>
        </configuration>
        <indexConfigurations>
          <indexUpdateStrategies>
            <onPublishEndAsync>
              <patch:delete />
            </onPublishEndAsync>
          </indexUpdateStrategies>
        </indexConfigurations>
      </contentSearch>
      <dataviews>
        <dataview name="web">
          <patch:delete/>
        </dataview>
      </dataviews>
      <scheduling>
        <agent type="Sitecore.Tasks.CleanupFDAObsoleteMediaData">
          <databases hint="raw:AddDatabase">
            <database name="web">
              <patch:delete />
            </database>
          </databases>
        </agent>
        <agent type="Sitecore.ContentSearch.Tasks.Optimize" method="Run" interval="01:00:00">
          <indexes hint="list">
            <index id="sitecore_web_index">
              <patch:delete/>
            </index>
            <index id="commerce_products_web_index">
              <patch:delete/>
            </index>
          </indexes>
        </agent>
        <agent type="Sitecore.Tasks.UrlAgent" method="Run" interval="00:15:00">
          <param desc="url">
            <patch:delete />
          </param>
          <param desc="url">/</param>
        </agent>
        <agent type="Sitecore.Tasks.PublishAgent">
          <patch:delete />
        </agent>
      </scheduling>
      <pipelines>
        <contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
          <processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
            <patch:delete />
          </processor>
        </contentSearch.queryWarmup>
        <initialize>
          <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
            <patch:delete />
          </processor>
           <processor type="Sitecore.Pipelines.Loader.InitializeScheduler, Sitecore.Kernel">
            <patch:delete />
          </processor>
          <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
            <patch:delete />
          </processor>
          <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
            <patch:delete />
          </processor>
          <!-- Removing again, now for content testing :-) -->
          <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
            <patch:delete />
          </processor>
        </initialize>
        <!--- if you don't use translations, remove this pipeline also to improve startup performance -->
        <!--<getTranslation>
          <patch:delete/>
        </getTranslation>
        <getTranslation />-->
        </pipelines>
    </sitecore>
  </configuration>